.flex {
  display: flex;
  justify-content: center;

  div {
    flex: 0;
    font-size: 35vw;
  }
}

.flex2 {
  display: flex;
  justify-content: center;

  div {
    flex: 1;
    font-size: 5vw;
    width: 100%;
  }
}
